.ds-block {
	display: block;
}
.ds-iblock {
	display: inline-block;
}
.ds-overlay {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.ds-hide {
	display: none;
}
.ds-type-unit {
	float: left;
	margin-right: 5px;
	width: 24px;
	height: 24px;
	line-height: 25px;
	text-align: center;
	border-radius: 12px;
	font-style: normal;
}
.ds-default {
	display: none;
}
.ds-info {
	color: #333;
	background: #ddd;
}
.ds-ok {
	color: #fff;
	background: green;
}
.ds-warn {
	background: #babc36;
	color: #fff;
}
.ds-error {
	background: red;
	color: #fff;
}
.ds-type-popup .ds-inner,
.ds-type-dialog .ds-inner {
	display: block;
	padding: 15px;
}
.ds-wrap {
	position: relative;
	background: #333;
	background: rgba(0,0,0,.8)
	color: #fff;
}
.ds-type-popup,
.ds-type-dialog {
	background: #fff;
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
	border: 1px solid #eee;
}
.ds-type-left,
.ds-type-right,
.ds-type-top {
	color: #fff;
}
.ds-type-left {
	border-radius: 0 3px 3px 0;
}
.ds-type-right {
	border-radius: 3px 0 0 3px;
}
.ds-type-top {
	border-radius: 0 0 3px 3px;
}
.ds-btn-close {
	display: inline-block;
	vertical-align: middle;
	color: #666;
}
.ds-btn-close:hover {
	cursor: pointer;
	color: #000;
}
.ds-type-popup .ds-btn-close {
	position: absolute;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 24px;
	right: -15px;
	top: -15px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
.ds-head-content {
	display: block;
	position: absolute;
	left: 15px;
	right: 34px;
	line-height: 34px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ds-head {
	display: block;
	height: 34px;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #ddd;
	background: #f2f2f2;
	font-size: 1.2em;
}
.ds-head .ds-btn-close {
	position: absolute;
	right:0;
	top:0;
	font-size: 30px;
	height: 34px;
	width: 34px;
	line-height: 34px;
	text-align: center;
}

.ds-content {
	line-height: 1.6;
	padding: 5px;
	word-break:break-all;
}

/* alert */
.ds-alert {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.ds-alert-ok {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.ds-alert-ok .alert-link {
  color: #2b542c;
}

.ds-alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.ds-alert-info .ds-alert-link {
  color: #245269;
}

.ds-alert-warn {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.ds-alert-warn .ds-alert-link {
  color: #66512c;
}

.ds-alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.ds-alert-error .ds-alert-link {
  color: #843534;
}

/* other */
.ds-pd {
	padding: 15px;
}
.ds-pointer {
	cursor: pointer;
}